.ClassifierDetail {
  max-width: 30em;
}

.ClassifierDetail-name {
  display: inline-block;
  height: 22px;
  line-height: 21px;
  text-decoration: none;
  color: var(--color-text-dark);

  /* max-width: calc(100% - 28px); */
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ClassifierDetail-link .ClassifierDetail-name {
  color: #705dcc;
}

.ClassifierDetail-link .ClassifierDetail-name:hover {
  text-decoration: underline;
}

.ClassifierDetail-classifier-id {
  height: 18px;
  margin-bottom: 16px;
  margin-top: 8px;
  padding: 0;
  white-space: nowrap; /* keeps the button on the same line */
  color: rgb(88, 96, 105);
}

.ClassifierDetail-classifier-id-text {
  max-width: calc(100% - 48px);
  line-height: 18px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.ClassifierDetail-spacer {
  height: 1em;
  margin-top: 2px;
}

.ClassifierDetail-failed {
  display: flex;
  align-items: center;
  background: #f44336;
  padding: 0 12px;
  height: 48px;

  color: #fff;

  border-radius: 2px 2px 0 0;
  margin: -17px -17px 15px -17px;
}

.ClassifierDetail-failed-icon {
  margin-right: 20px;
}

.ClassifierDetail-failed-message-header {
  margin-top: 21px;
  color: #f44336;
  color: rgb(88, 96, 105);
}

.ClassifierDetail-failed-message {
  margin-top: 6px;
  margin-bottom: 5px;
  color: #f44336;
  color: rgb(88, 96, 105);
}

.ClassifierDetail-training {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: solid thin #ededed;
  margin-top: 20px;
}

.ClassifierDetail-training-text {
  margin-bottom: 21px;
  align-self: center;
  color: rgb(88, 96, 105);
}
