.ClassifierDetail {
  height: 202px;
}

.ClassifierDetail-name {
  padding: 0;
  margin: 1px 0 0 0;
  line-height: 100%;
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-dark);

  max-width: calc(100% - 25px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ClassifierDetail-fail.ClassifierDetail-name {
  max-width: 100%;
}

.ClassifierDetail-link {
  color: #705dcc;
}

.ClassifierDetail-link:hover {
  text-decoration: underline;
}

.ClassifierDetail-classifier-id {
  padding: 0;
  margin: 3px 0 0 0;
  white-space: nowrap; /* keeps the button on the same line */
  color: rgb(88, 96, 105);
  display: flex;
  align-items: center;
}

.ClassifierDetail-classifier-id-text {
  padding: 0;
  margin: 0;
  line-height: 100%;
  max-width: calc(100% - 48px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ClassifierDetail-failed {
  display: flex;
  align-items: center;
  background: #f44336;
  padding: 0 12px;
  height: 48px;

  color: #fff;

  border-radius: 2px 2px 0 0;
  margin: -17px -17px 15px -17px;
}

.ClassifierDetail-failed-icon {
  margin-right: 20px;
}

.ClassifierDetail-failed-message-header {
  margin-top: 18px;
  color: #f44336;
  color: rgb(88, 96, 105);
}

.ClassifierDetail-failed-message {
  margin-top: 6px;
  margin-bottom: 5px;
  color: #f44336;
  color: rgb(88, 96, 105);
}

.ClassifierDetail-training {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: solid thin #ededed;
  margin-top: 14px;
}

.ClassifierDetail-training-text {
  margin-bottom: 21px;
  align-self: center;
  color: rgb(88, 96, 105);
}
