.CustomDropButton {
  cursor: pointer;
  border-width: thin;
  border-style: dashed;
  background: #fcfcfc;
  padding: 32px 0px;
  border-color: #c2c2c2;

  border-radius: 0 0 5px 5px;
  border-top-color: #dedede;
  margin-top: 20px;
  margin-bottom: -13px;
  margin-left: -13px;
  margin-right: -13px;
}

.CustomDropButton-explanation-text {
  color: var(--color-text);
  margin-top: 3px;
  margin-bottom: 7px;
  text-align: center;
}

.CustomDropButton-manual-choice-text {
  color: var(--color-text);
  text-align: center;
  margin-bottom: 3px;
}

.CustomDropButton-manual-choice-link {
  color: var(--color-primary);
  text-decoration: none;
}

.CustomDropButton-dropzone:hover .CustomDropButton-manual-choice-link {
  text-decoration: underline;
}
