.ThreeDotMenu-dropbtn {
  background-color: transparent;
  background-position: 0 0;
  background-size: 50px 25px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  padding: 0px;
  margin-right: -5px;
  border: none;
  cursor: pointer;
}

.ThreeDotMenu-dropbtn:hover {
  background-position: -25px 0;
}

.ThreeDotMenu-dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.ThreeDotMenu-dropdownContent {
  display: none;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.5;
  font-size: 14px;

  position: absolute;
  top: 100%;
  /* left: 0; */
  z-index: 100;
  /* width: 160px; */
  padding-top: 5px;
  padding-bottom: 5px;
  /* margin-top: 2px; */
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);

  width: 180px;
  margin-top: 8px;

  right: -11px;
  left: auto;
}

.ThreeDotMenu-dropdownContent::after {
  top: -14px;
  right: 10px;
  left: auto;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  display: inline-block;
  content: '';
}

.ThreeDotMenu-dropdownContent::before {
  top: -16px;
  right: 9px;
  left: auto;
  border: 8px solid transparent;
  border-bottom-color: rgba(27, 31, 35, 0.15);

  position: absolute;
  display: inline-block;
  content: '';
}

.ThreeDotMenu-dropdownContent.ThreeDotMenu-show {
  display: block;
}

.ThreeDotMenu-aStyle {
  text-decoration: none;
  display: block;
  padding: 4px 10px 4px 15px;
  overflow: hidden;
  color: #24292e;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ThreeDotMenu-aStyle:hover {
  background-color: #0366d6;
  color: white;
}

.ThreeDotMenu-destructive:hover {
  background-color: #f44336;
}

.ThreeDotMenu-divider {
  background-color: rgb(225, 228, 232);
  height: 1px;
  margin: 8px 1px 8px 1px;
}

.ThreeDotMenu-disabled {
  cursor: default;
  color: rgba(36, 41, 46, 0.20);
}

.ThreeDotMenu-disabled:hover {
  background-color: transparent;
  color: rgba(36, 41, 46, 0.20);
}
