.TitleBar-status {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 36px;
  background-color: rgb(15, 33, 46);
  align-items: center;
  padding-right: 16px;
}

.TitleBar-shadow {
  position: fixed;
  z-index: 1000;
  top: 36px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #162934;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.TitleBar-contentWrapper {
  display: flex;
  /*max-width: 1000px;*/
  width: 100%;
  height: 100%;
  /*margin: auto;*/
  align-items: center;
}

.TitleBar-link {
  display: flex;
  color: #ffffff;
  margin-left: 20px;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.TitleBar-link:hover {
  color: #b8b4ff;
}

.TitleBar-logo {
  height: 28px;
}

.TitleBar-user {
  height: 28px;
  margin-left: auto;
  width: 68px;
}

.TitleBar-h1 {
  font-family: 'IBM Helvetica', 'Helvetica Neue', HelveticaNeue, Helvetica,
    sans-serif;
  font-size: 1.125rem;
  vertical-align: baseline;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-left: 8px;
}

.TitleBar-span {
  font-family: 'IBM Helvetica', 'Helvetica Neue', HelveticaNeue, Helvetica,
    sans-serif;
  font-size: 1.125rem;
  vertical-align: baseline;
  letter-spacing: 0.5px;
  font-weight: 700;
  margin-left: 4px;
}

.TitleBar-h4 {
  font-family: 'IBM Helvetica', 'Helvetica Neue', HelveticaNeue, Helvetica,
    sans-serif;
  vertical-align: baseline;
  font-size: 1.125rem;
  font-weight: 400;
  color: #9b82ff;
  margin-right: auto;
}

.TitleBar-api-key {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-text);
  min-width: 0px;
  margin-left: 20px;
  margin-right: 12px;
}

.TitleBar-key-button {
  border: 0;
  padding: 0;
  background: none;
  padding-right: 4px;
}

#TitleBar-key-middle {
  font-size: 0em;
}

#TitleBar-key-middle:before {
  content: '•••••••••••••••••••••••••••••••••••••';
  font-size: 16px;
}

.TitleBar-height-blank {
  height: 86px;
}
