.TitleBar-shadow {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #162934;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'IBM Helvetica', 'Helvetica Neue', HelveticaNeue, Helvetica,
    sans-serif;
  font-size: 1.125rem;
}

.TitleBar-left {
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
}

.TitleBar-link-logo {
  display: flex;
  align-items: center;
  padding: 0 0 0 8px;
  margin: 0;
}

.TitleBar-link {
  display: flex;
  color: #ffffff;
  align-items: center;
  padding: 0 8px 0 0;
  margin: 0;
}

.TitleBar-link-logo:hover + .TitleBar-text-wrapper .TitleBar-link {
  color: #b8b4ff;
}

.TitleBar-link:hover {
  color: #b8b4ff;
}

.TitleBar-logo {
  height: 28px;
  width: 32px;
  margin: 0;
  padding: 0;
}

.TitleBar-text-wrapper {
  display: flex;
  align-items: baseline;
}

.TitleBar-h1 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 0 0 8px;
}

.TitleBar-span {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.TitleBar-h4 {
  font-size: 1.125rem;
  font-weight: 400;
  color: #9b82ff;
  margin: 0;
  padding: 0;
}

.TitleBar-right {
  height: 100%;
  display: flex;
}

.TitleBar-overflow-item {
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-family: 'IBM Helvetica', 'Helvetica Neue', HelveticaNeue, Helvetica,
    sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  line-height: 14px;
}

.TitleBar-overflow-item:hover {
  color: #b890ff;
}

.TitleBar-highlight:hover {
  background-color: rgb(45, 63, 73);
}

.TitleBar-user {
  height: 24px;
}

.TitleBar-height-blank {
  height: 50px;
}
