.TitleBar-shadow {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #162934;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'IBM Helvetica', 'Helvetica Neue', HelveticaNeue, Helvetica,
    sans-serif;
  font-size: 1.125rem;
}

.TitleBar-leftw {
  display: flex;
  align-items: center;
}

.TitleBar-left {
  display: flex;
  align-items: center;
}

.TitleBar-link {
  display: flex;
  color: #ffffff;
  align-items: center;
  padding: 0 8px 0 8px;
  margin: 0;
}

.TitleBar-link:hover {
  color: #b8b4ff;
}

.TitleBar-logo {
  height: 28px;
  width: 32px;
  margin: 0;
  padding: 0;
}

.TitleBar-user {
  height: 24px;
  margin: 0 16px;
}

.TitleBar-user-container:hover {
  background-color: rgb(45, 63, 73);
}

.TitleBar-h1 {
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin: 0 0 0 8px;
}

.TitleBar-span {
  letter-spacing: 0.5px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.TitleBar-h4 {
  font-weight: 400;
  color: #9b82ff;
  margin: 0;
  padding: 0;
}

.TitleBar-doc-item {
  font-family: 'IBM Helvetica', 'Helvetica Neue', HelveticaNeue, Helvetica,
    sans-serif;
  height: 50px;
  font-size: 0.875rem;
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
}

.TitleBar-doc-item:hover {
  color: #b890ff;
}

.TitleBar-height-blank {
  height: 50px;
}
