.font-title {
  font: bold 20px "IBM Helvetica", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
}

.font-subheading {
  font: normal 16px "IBM Helvetica", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
}

.font-body2 {
  font: bold 14px "IBM Helvetica", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
}

.font-body1 {
  font: normal 14px "IBM Helvetica", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
}

.font-caption {
  font: normal 12px "IBM Helvetica", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
}
