.font-title {
    font: bold 1.65em Helvetica, sans-serif;
}

.font-header {
    font: bold 1.5em Helvetica, sans-serif;
}

.font-bold {
    font: 500 1em Helvetica, sans-serif;
}

.font-default {
    font: normal 1em Helvetica, sans-serif;
}
