html {
  background: #fafafa;
  /*font-size: 14px;*/
}

body {
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

*:focus {
  outline: none !important;
}

a {
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}
